@-webkit-keyframes anim1 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim1 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim1 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim1 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from1 {
     -webkit-animation: anim1 1s;
     -moz-animation: anim1 1s;
     -o-animation: anim1 1s;
     animation: anim1 1s;
    /*animation-timing-function: linear;*/
}
 @-webkit-keyframes anim2 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim2 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim2 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim2 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from2 {
     -webkit-animation: anim2 2s;
     -moz-animation: anim2 2s;
     -o-animation: anim2 2s;
     animation: anim2 2s;
}
 @-webkit-keyframes anim3 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim3 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim3 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim3 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from3 {
     -webkit-animation: anim3 3s;
     -moz-animation: anim3 3s;
     -o-animation: anim3 3s;
     animation: anim3 3s;
}
 @-webkit-keyframes anim4 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim4 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim4 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim4 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from4 {
     -webkit-animation: anim4 4s;
     -moz-animation: anim4 4s;
     -o-animation: anim4 4s;
     animation: anim4 4s;
}
 @-webkit-keyframes anim5 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim5 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim5 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim5 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from5 {
     -webkit-animation: anim5 5s;
     -moz-animation: anim5 5s;
     -o-animation: anim5 5s;
     animation: anim5 5s;
}
 @-webkit-keyframes anim6 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim6 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim6 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim6 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from6 {
     -webkit-animation: anim6 6s;
     -moz-animation: anim6 6s;
     -o-animation: anim6 6s;
     animation: anim6 6s;
}
 @-webkit-keyframes anim7 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim7 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim7 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim7 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from7 {
     -webkit-animation: anim7 7s;
     -moz-animation: anim7 7s;
     -o-animation: anim7 7s;
     animation: anim7 7s;
}
 @-webkit-keyframes anim8 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim8 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim8 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim8 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from8 {
     -webkit-animation: anim8 8s;
     -moz-animation: anim8 8s;
     -o-animation: anim8 8s;
     animation: anim8 8s;
}
 @-webkit-keyframes anim9 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim9 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim9 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim9 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from9 {
     -webkit-animation: anim9 9s;
     -moz-animation: anim9 9s;
     -o-animation: anim9 9s;
     animation: anim9 9s;
}
 @-webkit-keyframes anim10 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim10 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim10 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim10 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from10 {
     -webkit-animation: anim10 10s;
     -moz-animation: anim10 10s;
     -o-animation: anim10 10s;
     animation: anim10 10s;
}
 @-webkit-keyframes anim11 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim11 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim11 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim11 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from11 {
     -webkit-animation: anim11 11s;
     -moz-animation: anim11 11s;
     -o-animation: anim11 11s;
     animation: anim11 11s;
}
 @-webkit-keyframes anim12 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim12 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim12 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim12 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from12 {
     -webkit-animation: anim12 12s;
     -moz-animation: anim12 12s;
     -o-animation: anim12 12s;
     animation: anim12 12s;
}
 @-webkit-keyframes anim13 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim13 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim13 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim13 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from13 {
     -webkit-animation: anim13 13s;
     -moz-animation: anim13 13s;
     -o-animation: anim13 13s;
     animation: anim13 13s;
}
 @-webkit-keyframes anim14 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim14 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim14 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim14 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from14 {
     -webkit-animation: anim14 14s;
     -moz-animation: anim14 14s;
     -o-animation: anim14 14s;
     animation: anim14 14s;
}
 @-webkit-keyframes anim15 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim15 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim15 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim15 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from15 {
     -webkit-animation: anim15 15s;
     -moz-animation: anim15 15s;
     -o-animation: anim15 15s;
     animation: anim15 15s;
}
 @-webkit-keyframes anim16 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim16 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim16 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim16 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from16 {
     -webkit-animation: anim16 16s;
     -moz-animation: anim16 16s;
     -o-animation: anim16 16s;
     animation: anim16 16s;
}
 @-webkit-keyframes anim17 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim17 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim17 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim17 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from17 {
     -webkit-animation: anim17 17s;
     -moz-animation: anim17 17s;
     -o-animation: anim17 17s;
     animation: anim17 17s;
}
 @-webkit-keyframes anim18 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim18 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim18 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim18 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from18 {
     -webkit-animation: anim18 18s;
     -moz-animation: anim18 18s;
     -o-animation: anim18 18s;
     animation: anim18 18s;
}
 @-webkit-keyframes anim19 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim19 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim19 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim19 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from19 {
     -webkit-animation: anim19 19s;
     -moz-animation: anim19 19s;
     -o-animation: anim19 19s;
     animation: anim19 19s;
}
 @-webkit-keyframes anim20 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim20 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim20 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim20 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from20 {
     -webkit-animation: anim20 20s;
     -moz-animation: anim20 20s;
     -o-animation: anim20 20s;
     animation: anim20 20s;
}
 @-webkit-keyframes anim21 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim21 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim21 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim21 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from21 {
     -webkit-animation: anim21 21s;
     -moz-animation: anim21 21s;
     -o-animation: anim21 21s;
     animation: anim21 21s;
}
 @-webkit-keyframes anim22 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim22 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim22 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim22 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from22 {
     -webkit-animation: anim22 22s;
     -moz-animation: anim22 22s;
     -o-animation: anim22 22s;
     animation: anim22 22s;
}
 @-webkit-keyframes anim23 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim23 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim23 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim23 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from23 {
     -webkit-animation: anim23 23s;
     -moz-animation: anim23 23s;
     -o-animation: anim23 23s;
     animation: anim23 23s;
}
 @-webkit-keyframes anim24 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim24 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim24 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim24 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from24 {
     -webkit-animation: anim24 24s;
     -moz-animation: anim24 24s;
     -o-animation: anim24 24s;
     animation: anim24 24s;
}
 @-webkit-keyframes anim25 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim25 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim25 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim25 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from25 {
     -webkit-animation: anim25 25s;
     -moz-animation: anim25 25s;
     -o-animation: anim25 25s;
     animation: anim25 25s;
}
 @-webkit-keyframes anim26 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim26 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim26 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim26 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from26 {
     -webkit-animation: anim26 26s;
     -moz-animation: anim26 26s;
     -o-animation: anim26 26s;
     animation: anim26 26s;
}
 @-webkit-keyframes anim27 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim27 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim27 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim27 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from27 {
     -webkit-animation: anim27 27s;
     -moz-animation: anim27 27s;
     -o-animation: anim27 27s;
     animation: anim27 27s;
}
 @-webkit-keyframes anim28 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim28 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim28 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim28 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from28 {
     -webkit-animation: anim28 28s;
     -moz-animation: anim28 28s;
     -o-animation: anim28 28s;
     animation: anim28 28s;
}
 @-webkit-keyframes anim29 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim29 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim29 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim29 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from29 {
     -webkit-animation: anim29 29s;
     -moz-animation: anim29 29s;
     -o-animation: anim29 29s;
     animation: anim29 29s;
}
 @-webkit-keyframes anim30 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim30 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim30 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim30 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from30 {
     -webkit-animation: anim30 30s;
     -moz-animation: anim30 30s;
     -o-animation: anim30 30s;
     animation: anim30 30s;
}
 @-webkit-keyframes anim31 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim31 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim31 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim31 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from31 {
     -webkit-animation: anim31 31s;
     -moz-animation: anim31 31s;
     -o-animation: anim31 31s;
     animation: anim31 31s;
}
 @-webkit-keyframes anim32 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim32 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim32 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim32 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from32 {
     -webkit-animation: anim32 32s;
     -moz-animation: anim32 32s;
     -o-animation: anim32 32s;
     animation: anim32 32s;
}
 @-webkit-keyframes anim33 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim33 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim33 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim33 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from33 {
     -webkit-animation: anim33 33s;
     -moz-animation: anim33 33s;
     -o-animation: anim33 33s;
     animation: anim33 33s;
}
 @-webkit-keyframes anim34 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim34 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim34 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim34 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from34 {
     -webkit-animation: anim34 34s;
     -moz-animation: anim34 34s;
     -o-animation: anim34 34s;
     animation: anim34 34s;
}
 @-webkit-keyframes anim35 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim35 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim35 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim35 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from35 {
     -webkit-animation: anim35 35s;
     -moz-animation: anim35 35s;
     -o-animation: anim35 35s;
     animation: anim35 35s;
}
 @-webkit-keyframes anim36 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim36 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim36 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim36 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from36 {
     -webkit-animation: anim36 36s;
     -moz-animation: anim36 36s;
     -o-animation: anim36 36s;
     animation: anim36 36s;
}
 @-webkit-keyframes anim37 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim37 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim37 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim37 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from37 {
     -webkit-animation: anim37 37s;
     -moz-animation: anim37 37s;
     -o-animation: anim37 37s;
     animation: anim37 37s;
}
 @-webkit-keyframes anim38 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim38 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim38 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim38 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from38 {
     -webkit-animation: anim38 38s;
     -moz-animation: anim38 38s;
     -o-animation: anim38 38s;
     animation: anim38 38s;
}
 @-webkit-keyframes anim39 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim39 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim39 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim39 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from39 {
     -webkit-animation: anim39 39s;
     -moz-animation: anim39 39s;
     -o-animation: anim39 39s;
     animation: anim39 39s;
}
 @-webkit-keyframes anim40 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim40 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim40 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim40 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from40 {
     -webkit-animation: anim40 40s;
     -moz-animation: anim40 40s;
     -o-animation: anim40 40s;
     animation: anim40 40s;
}
 @-webkit-keyframes anim41 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim41 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim41 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim41 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from41 {
     -webkit-animation: anim41 41s;
     -moz-animation: anim41 41s;
     -o-animation: anim41 41s;
     animation: anim41 41s;
}
 @-webkit-keyframes anim42 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim42 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim42 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim42 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from42 {
     -webkit-animation: anim42 42s;
     -moz-animation: anim42 42s;
     -o-animation: anim42 42s;
     animation: anim42 42s;
}
 @-webkit-keyframes anim43 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim43 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim43 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim43 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from43 {
     -webkit-animation: anim43 43s;
     -moz-animation: anim43 43s;
     -o-animation: anim43 43s;
     animation: anim43 43s;
}
 @-webkit-keyframes anim44 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim44 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim44 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim44 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from44 {
     -webkit-animation: anim44 44s;
     -moz-animation: anim44 44s;
     -o-animation: anim44 44s;
     animation: anim44 44s;
}
 @-webkit-keyframes anim45 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim45 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim45 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim45 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from45 {
     -webkit-animation: anim45 45s;
     -moz-animation: anim45 45s;
     -o-animation: anim45 45s;
     animation: anim45 45s;
}
 @-webkit-keyframes anim46 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim46 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim46 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim46 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from46 {
     -webkit-animation: anim46 46s;
     -moz-animation: anim46 46s;
     -o-animation: anim46 46s;
     animation: anim46 46s;
}
 @-webkit-keyframes anim47 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim47 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim47 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim47 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from47 {
     -webkit-animation: anim47 47s;
     -moz-animation: anim47 47s;
     -o-animation: anim47 47s;
     animation: anim47 47s;
}
 @-webkit-keyframes anim48 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim48 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim48 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim48 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from48 {
     -webkit-animation: anim48 48s;
     -moz-animation: anim48 48s;
     -o-animation: anim48 48s;
     animation: anim48 48s;
}
 @-webkit-keyframes anim49 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim49 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim49 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim49 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from49 {
     -webkit-animation: anim49 49s;
     -moz-animation: anim49 49s;
     -o-animation: anim49 49s;
     animation: anim49 49s;
}
 @-webkit-keyframes anim50 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim50 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim50 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim50 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from50 {
     -webkit-animation: anim50 50s;
     -moz-animation: anim50 50s;
     -o-animation: anim50 50s;
     animation: anim50 50s;
}
 @-webkit-keyframes anim51 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim51 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim51 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim51 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from51 {
     -webkit-animation: anim51 51s;
     -moz-animation: anim51 51s;
     -o-animation: anim51 51s;
     animation: anim51 51s;
}
 @-webkit-keyframes anim52 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim52 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim52 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim52 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from52 {
     -webkit-animation: anim52 52s;
     -moz-animation: anim52 52s;
     -o-animation: anim52 52s;
     animation: anim52 52s;
}
 @-webkit-keyframes anim53 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim53 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim53 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim53 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from53 {
     -webkit-animation: anim53 53s;
     -moz-animation: anim53 53s;
     -o-animation: anim53 53s;
     animation: anim53 53s;
}
 @-webkit-keyframes anim54 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim54 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim54 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim54 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from54 {
     -webkit-animation: anim54 54s;
     -moz-animation: anim54 54s;
     -o-animation: anim54 54s;
     animation: anim54 54s;
}
 @-webkit-keyframes anim55 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim55 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim55 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim55 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from55 {
     -webkit-animation: anim55 55s;
     -moz-animation: anim55 55s;
     -o-animation: anim55 55s;
     animation: anim55 55s;
}
 @-webkit-keyframes anim56 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim56 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim56 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim56 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from56 {
     -webkit-animation: anim56 56s;
     -moz-animation: anim56 56s;
     -o-animation: anim56 56s;
     animation: anim56 56s;
}
 @-webkit-keyframes anim57 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim57 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim57 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim57 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from57 {
     -webkit-animation: anim57 57s;
     -moz-animation: anim57 57s;
     -o-animation: anim57 57s;
     animation: anim57 57s;
}
 @-webkit-keyframes anim58 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim58 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim58 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim58 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from58 {
     -webkit-animation: anim58 58s;
     -moz-animation: anim58 58s;
     -o-animation: anim58 58s;
     animation: anim58 58s;
}
 @-webkit-keyframes anim59 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim59 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim59 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim59 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from59 {
     -webkit-animation: anim59 59s;
     -moz-animation: anim59 59s;
     -o-animation: anim59 59s;
     animation: anim59 59s;
}
 @-webkit-keyframes anim60 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-moz-keyframes anim60 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @-o-keyframes anim60 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 @keyframes anim60 {
     0% {
         width: 100%;
    }
     100% {
         width: 0%;
    }
}
 #from60 {
     -webkit-animation: anim60 60s;
     -moz-animation: anim60 60s;
     -o-animation: anim60 60s;
     animation: anim60 60s;
}
